body {
  display: block; /* o flex sin centrar */
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.slide-in-left {
  animation: slideInLeft 1.0s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInRight 1.4s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Contenido base */
.card-content {
  width: 100%;
  height: 100%;
  padding: 16px;
  transition: filter 0.6s ease, opacity 0.6s ease;
}

/* Contenido que aparece encima */
.card-overlay {
  position: absolute;
  inset: 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover */
.card:hover .card-content {
  filter: blur(4px);
  opacity: 0.6;
}

.card:hover .card-overlay {
  opacity: 1;
}